/*@media only screen and (max-width: 415px) {
    body {
        background-color: lightblue;
    }
    .navbar-inverse {
        width: 100%;
        padding-left: 3px;
    }
}*/

.jumbotron {
    text-align: right;
    background-color: darkorange;
    height: 150px;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -20px;
}

.popUp {
    background: black;
    max-width: 33%;
    text-align: center;
    margin-left: 40%;
}

.navbar-inverse {
    width: 35%;
    padding-top: 7px;
    padding-left: 3px;
}

.chat-form {
    margin-left: 75%;
}

#search {
    margin-left: 75%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    z-index: 3;
}

.modal-footer {
    text-align: center;
}


/* Modal Content/Box */

.modal-content {
    top: -130px;
    background-color: black;
    color: white;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    text-align: center;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form, p, span {
    margin: 0;
    padding: 0;
}

input {
    font: 12px arial;
}

#wrapper, #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #EBF4FB;
    width: 504px;
    border: 1px solid #ACD8F0;
}

#loginform {
    padding-top: 18px;
}

#loginform p {
    margin: 5px;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: black;
    height: 270px;
    width: 395px;
    overflow: auto;
    color: white;
}

#wrapper {
    margin-left: 115%;
    position: absolute;
    width: 395px;
    background-color: darkorange;
    border: solid 0px;
    border-radius: 5px;
}

#usermsg {
    width: 395px;
    border: 1px solid #ACD8F0;
}

.form-control {
    background: black;
    color: white;
}

.btn-default {
    background: black;
    color: white;
}

#submit {
    width: 60px;
}

.error {
    color: #ff0000;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.welcome {
    text-align: center;
    font-weight: bold;
}

.logout {
    float: right;
}

.msgln {
    margin: 0 0 2px 0;
}

.input-group {
    display: table;
    padding-left: 5px;
    padding-right: 5px;
}

.beerImg {
    width: 200px;
    height: 280px;
}

.form-control.drinkForm {
    width: 75px;
}

.btn-primary {
    color: #fff;
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.beerClass:hover {
    font-weight: bold;
}

@media only screen and (max-width: 415px) {
    .navbar-inverse {
        width: 108%;
        padding-left: 3px;
        margin-left: -15px;
        margin-top: -31px;
    }
    .dropdown {
        float: left;
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 24px;
        padding-bottom: 7px;
    }
    .logo {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -20px;
        margin-right: 105px;
    }
    #wrapper {
        display: none;
    }
    .col-xs-5 {
        margin-left: 19px;
    }
    .beerImg {
        display: none;
    }
    .modal-content {
        background-color: black;
        color: white;
        margin: 15% auto;
        padding: 20px;
        border: none;
        width: 100%;
        text-align: center;
        margin-top: 200px;
    }
    .drinkImg {
        display: none;
    }
    .container {
        text-align: center;
    }
    iframe {
        margin-left: -36px;
        width: 415px;
        border: none;
    }
}
