.jumbotron {
	font-family: 'Ewert', cursive; 
	text-align: center;
	background-color: darkorange;
}
.drinkRecipe{
	color:white;
	font-size: 15px;
}
.drinkRecipe:hover {
	color:white;
	font-size: 25px;
	cursor:pointer;
}

img {
	width:800px;
	height:450px;
}
.btn {
	cursor:pointer;
}

.drinks{
	color:white;
	font-size:20px;
	font-style: bold;
}

#lager:hover{
	color:black;
	&:active{
		color:blue;
	}
}
#wheat:hover{
	color:black;
	&:active{
		color:blue;
	}
}
#ale:hover{
	color:black;
	&:active{
		color:blue;
	}
}
#Porter:hover{
	color:black;
	&:active{
		color:blue;
	}
}
#martinis:hover{
	color:black;
	&:active{
		color:blue;
	}
}
#cocktail:hover{
	color:black;
	&:active{
		color:blue;
	}
}
#margarita:hover{
	color:black;
	&:active{
		color:blue;
	}
}
#fruit:hover{
	color:black;
	&:active{
		color:blue;
	}
}
#NA:hover{
	color:black;
	&:active{
		color:blue;
	}
}
#license:hover, #about:hover{
	color:blue;
}
#go:hover{
	color:lightgreen;
}

.btn-group {
	position: absolute;
	top: 0px;
	right: 50px;
	font-family: cursive;
}